html {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #D4E2D4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  input {
    font-size: 1.1em;
  }
  
  label  {
    font-size: 1.1em;
    margin-right: 10px; 
  }

  header {
    background-color: #D4E2D4;
    /* Add any other desired styles for the header here */
}
  
  #title { 
    background-color: rgb(61, 61, 61);
    font-size: 1.1em;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    font-weight: normal;
    font-size: 1.7em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 1230px; /* Adjust the width value as needed */
    height: 40px;
  margin-left: 20px; /* Adjust the left margin value as needed */
  line-height: 40px; /* Adjust the line-height value to center the text vertically */
  }
  
  #blurb {
    background-color: rgba(255, 255, 255, 0.386);
    text-align: center;
    margin: 1em auto 1em auto;
    width: 500px;
    padding: .5em;
    border-radius: 5px;
    animation: catchyOutline 2s infinite alternate;
  }
  
  @keyframes catchyOutline {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    }
  }
  
  
  #visual-title {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: .5em;
  }
  
  #array-visual {
    margin: 1em;
  }
  
  header {
    background-color: rgb(255, 255, 255);
    
    background-size: cover;
    width: 100%;
    margin-top: 10px;
    color:black;
  }
  #options {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 2em;
    background-color: rgb(8, 74, 3);
    font-size: 1.1em;
    color: white;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(15, 132, 4);
    color: white;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  rect:hover, circle:hover, text.circle:hover, text.rect:hover {
    cursor: pointer;
  }
  
  .subtext {
    font-size: .8em;
    font-weight: 400;
  }
  
  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  
  
